* {
    margin: 0;padding: 0;box-sizing: border-box;
}

body {
    background: gray;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.container {
    height: 500px;
    width: 500px;
    background: #000;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.box {
    height: 50px;
    width: 50px;
    /* background: yellow; */
    border: 1px solid black;
    margin: 0px;
    align-self: flex-start;
    position: absolute;
}

.zone {
    height: 100px;
    width: 100px;
    /* background: rgb(67, 236, 0); */
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.dropped {
    height: 30px;
    width: 30px;
}

.alert {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background: white;
    padding: 10px;
    display: none;
}


#info {
    background: yellow;
    width: 100px;
    /* height: 100px; */
    font-size: 45px;
}

.leaderbord {
    display: inline-block;
    background-color: white;
}
